{% extends "base.html" %}
{% load static %}
{% block page_content %}
<br><br><br><br>
<img src="http://localhost:8000/static/img/ProfileFull.png" width="600" ALIGN="left" HSPACE=”50”>
<font size="+2">Hello, I'm Brandon Benton.</font>
<br><br>
<font size="+2">Welcome to my portfolio and blog, I've built it from scratch using Python's Django framework and deployed it on my VPS with PostgreSQL.</font>
<br><br>
<font size="+2">For four years, I've written books, articles, and copy on business, technology, economics, finance, cybersecurity, and other topics.</font>
<br><br>
<font size="+2">This site was created to demonstrate proficiency to clients and employers. Below, you can find my programming projects. Above, you can find my blog, where I publish articles on projects, writing, mathematics, and life.</font>
<br><br>
<font size="+2">I hope you find this site interesting, it is a garden of my mind. Thank you for visiting.</font>
<br><br><br><br><br><br>
<h1>Projects</h1>
<br>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
